# Node.js
node_modules/
package-lock.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Playwright user data
playwright_profile/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# VSCode
.vscode/
